html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    list-style: none;
    margin: 5px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition: color 0.5s;
}

a:hover{
    color: #0969da;
}


.content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.aside {
    width: 30%;
    background-color: #2f3a40;
    color: #fff;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
}

/* PROFILE PHOTO */
.profile-photo {
    text-align: center;
    padding: 30px 0;
}

.photo {
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 12px 1px rgba(243, 243, 247, 0.96);;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

/* CONTACT SECTION */
.contact {
    padding-bottom: 10px;
}

.contact-title {    
    background-color: rgba(255, 119, 120, 0.8);
}

.telegram {
    height: 30px;
    display: inline-block;
    align-items: center;
    background: url(./assets/svg/telegram-white.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 5px
}

.discord {
    height: 30px;
    background: url(./assets/svg/discord-white.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 5px;
}

.phone {
    height: 30px;
    background: url(./assets/svg/phone-white.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 40px;
    padding-top: 5px;
}

.email {
    height: 30px;
    background: url(./assets/svg/email-white.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
}

.github {
    height: 30px;
    background: url(./assets/svg/github-white.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
    padding-top: 5px;
}

.github a {
    color: #fff;
}

/* LANGUAGES SECTION*/
.languages {
    padding-bottom: 10px;
}

.languages-title {    
    background-color: rgba(175, 197, 70, 0.8);
}

.lang-level {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
}

.eng-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.eng-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

.bel-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.bel-level::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.rus-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.rus-level::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

/* SKILLS SECTION */
.skills {
    padding-bottom: 10px;
}

.skills-title {
    background-color: rgba(126, 164, 183, 0.8);
}

.skills-level {    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
}

.html-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.html-level::before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background: #fff;
}

.css-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.css-level::before {
    content: "";
    display: block;
    width: 70%;
    height: 100%;
    background: #fff;
}

.js-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.js-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

.git-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.git-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

/* HOBBIES SECTION */
.hobbies-title {    
    background-color: rgba(245, 149, 28, 0.8);    
}

.hobbies-list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.icon {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: 0.5s;
}

.icon:hover {
    fill: #3f85d4;
}

/* ARTICLE */
.article {
    background-image: url(./assets/images/bg_article1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
}

.article-wrapper {
    width: 80%;
    margin: 0 auto;
}

/* MENU */
.menu {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.menu-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.menu-item {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}


/* NAME SECTION */
.name {
    padding-top: 40px;
    padding-bottom: 115px;
}

.name h1 {
    font-size: 47px;
    padding-bottom: 10px;
}

.name p {
    font-size: 30px;
}

/* ABOUT-ME SECTION */
.about-me {
    padding-bottom: 40px;
}



.about-me p {
    padding-bottom: 5px;
}

/* EDUCATION SECTION */
.education {
    padding-bottom: 40px;
}

.education-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.education-year {
    font-weight: 700;
    display: inline-block;
    width: 150px;
}

.education-place {
    color: red;
}

.education-description {
    padding-top: 5px;
}

/* EXPERIENCE SECTION */
.experience {
    padding-bottom: 40px;
}

/* WORK EXAMPLES SECTION */
.work-examples {
    padding-bottom: 20px;
}

.work-examples_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-examples_item {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.item-title {
    font-size: 24px;
    padding-top: 10px;
}


.item-image img {
    max-width: 100%;
}

