* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    list-style: none;
    margin: 5px 0;
}


.content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.aside {
    width: 30%;
    background-color: #2f3a40;
    color: #fff;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
}

/* PROFILE PHOTO */
.profile-photo {
    text-align: center;
    padding: 30px 0;
}

.photo {
    width: 70%;
    border-radius: 50%;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

/* CONTACT SECTION */
.contact {
    padding-bottom: 10px;
}

.contact-title {    
    background-color: rgba(255, 119, 120, 0.8);
}

.telegram {
    height: 30px;
    background: url(./assets/svg/telegram-white.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 5px
}

.discord {
    height: 30px;
    background: url(./assets/svg/discord-white.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 5px;
}

.phone {
    height: 30px;
    background: url(./assets/svg/phone-white.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 40px;
    padding-top: 5px;
}

.email {
    height: 30px;
    background: url(./assets/svg/email-white.svg);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
}

/* LANGUAGES SECTION*/
.languages {
    padding-bottom: 10px;
}

.languages-title {    
    background-color: rgba(175, 197, 70, 0.8);
}

.lang-level {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
}

.eng-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.eng-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

.bel-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.bel-level::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.rus-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.rus-level::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

/* SKILLS SECTION */
.skills {
    padding-bottom: 10px;
}

.skills-title {
    background-color: rgba(126, 164, 183, 0.8);
}

.skills-level {    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
}

.html-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.html-level::before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background: #fff;
}

.css-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.css-level::before {
    content: "";
    display: block;
    width: 70%;
    height: 100%;
    background: #fff;
}

.js-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.js-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

.git-level {
    height: 5px;
    background: #273238;
    display: inline-block;
    width: 85%;
}

.git-level::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background: #fff;
}

/* HOBBIES SECTION */
.hobbies {    
    /* padding-bottom: 10px; */
}

.hobbies-title {    
    background-color: rgba(245, 149, 28, 0.8);
    
}

.hobbies-list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.coding {
    width: 40px;
    height: 40px;
}

.icon {
    width: 30px;
    height: 30px;
    /* fill: #fff; */
}







.article {
    background-color: aquamarine;
    width: 70%;
}
